

nav li{
    margin: 5px 0;
    padding: 10px;
    border: 1px solid;
    display: inline-block;
}

nav ul{
    display: flex;
    list-style: none;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 1x;
    border-radius: 4px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu li{
    margin: 5px 0;
}




nav ul{
    display: none;
    list-style: none;
}

nav ul.active{
    display: flex;
}

nav ul li{
    margin: 5px 0;
    padding: 10px;
    border: 1px solid;
    display: inline-block;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: lightblue;
    padding: 10px;
    border-radius: 4px;
}

.dropdown:hover .dropdown-menu{
    display:block;
}





@media only screen and (max-width: 640px){


.hamburger{
    display: inline-block;
    padding-left: 20px;
    width: 26px;
}

nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 10px 10px 10px 0px;
    top: 10px;
}

nav:hover ul {
    display: inline-block;
    float: left;
    background-color: lightslategray;
    padding: 5px;
    border-right: 0px;
}

nav:hover #mobileHide  {
    display: none;
}

nav li {
    text-align: center;
    padding: 0;
    margin: 0;

}  

nav>ul li {    
    text-align: center;    
    font-weight: bold;       
    float: left;
}

nav a {    
    text-decoration: none;    
    display: inline-block;    
    border-top: none;    
    border-bottom: none;    
    padding: 10px 0px 10px 20px;
    width: 70px;    
    margin-bottom: 2px;
}

nav ul li ul {       
     display:none; 
        
    }
    
    }
