h1 {
    color: #3abcff;
}

p::first-letter {
    font-size: 1rem;
    font-weight: bold;
  }

p {
    text-indent: 3em;
    padding: 0px;
    margin: 1 auto;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 5px;
}

.homeMain{
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    border:1px solid;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
}

.about,
.interests,
.education,
.resume{
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    border:1px solid;
    border-radius: 5px;
    background-color: lightblue;
}

.abroad,
.itjob,
.intern,
.overall{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid;
        border-radius: 5px;
        background-color: lightcoral;
    }

.abroadr,
.itjobr,
.internr,
.overallr{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid;
        border-radius: 5px;
        background-color: lavender;
    }    

body {
    font-family: 'Lexend', serif;
    background-color: lightgrey;
}

.icon{
    width: 30px;
    height: auto;
}

.icon:hover{
    transform: scale(1.25);
    transition: transform 0.7s ease;
}

footer {
    background-image: url('Images/abstract-blur-empty-green-gradient-studio-well-use-as-background-website-template-frame-business-report.jpg');
    background-size: cover;
}

@media print {
    h1, p, ul, ol, footer {
        color: black;
        font-family: 'Lexend', serif;
    }
    blockquote{
        @font-face {
            font-family: serif;
            src: url(sansation_light.woff);
        }
    }
    body {
        margin: 1in;
    }
}

/*Desktop*/
@media screen and (min-width: 760px){
    h1{
        font-size: 1.5rem;
        color: lightcoral;
    }
    p{
        text-indent: 0;
        margin: 10px;
    }
    main{
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .grid{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4";
    }

    .item1{
        grid-area: item1;
        justify-self: center;
        padding-left: 10px;
    }

    .item2{
        grid-area: item2;
        padding-left: 10px;
    }

    .item3{
        grid-area: item3;
        padding-left: 10px;
    }

    .item4{
        grid: item4;
        justify-self: left;
        padding-left: 25px;
    }

    .item5 {
        grid-area: item5;
        justify-self: center;
        padding-left: 10px;
      }
       

    .about,
    .interests,
    .education,
    .resume{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid;
        border-radius: 5px;
        background-color: lightcoral;
    }

    .abroad,
    .itjob,
    .intern,
    .overall{
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid;
            border-radius: 5px;
            background-color: lightblue
        }

    .abroadr,
    .itjobr,
    .internr,
    .overallr{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid;
        border-radius: 5px;
        background-color: lavender;
    } 

    .homeMain{
        width: 80%;
        margin-bottom: 20px;
        padding: 20px;
        border:1px solid;
        border-radius: 5px;
        background-color: lightgoldenrodyellow;
    }
}


/*Mobile*/
@media screen and (max-width: 759px){

    .grid{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 20% 1fr;
        grid-template-rows: auto;
    }

    .item1{
        grid-area: item1;
        padding-top: 20px;
        padding-left: 10px;
        width: 80%;
        height: auto;
    }

    .item2{
        grid-area: item2;
        padding-top: 20px;
        padding-left: 10px;
    }

    .item3{
        grid-area: item3;
        justify-self: left;
        padding-left: 10px;
    }

    .item4{
        grid: item4;
        justify-self: left;
        padding-left: 215px;
    }


    .burger{
        display:none;
    }
    .buger div{
        width: 25px;
        height: 5px;
        margin: 5px;
        border-radius: 25%;
    }
}